<div class="h-100">
  <div class="container h-100 d-flex align-items-center flex-column justify-content-center">
    <div class="row justify-content-center w-50">
      <div class="col-12">
        <div class="card shadow" style="min-width: 535px">
          <div class="card-body container row">
            <div class="col-6 p-5">
              <form #authenticationForm="ngForm" class="form-signin" name="authenticationForm">
                <div class="text-center mb-4">
                  <h1 class="h3 mb-3 fw-normal text-dark">Register</h1>
                </div>
                <div class="form-label-group mb-3">
                  <label>Username</label>
                  <input [(ngModel)]="login.username" [disabled]="authenticating"
                         autocomplete="username" class="form-control mt-2" name="username"
                         placeholder="Username" required type="username">
                </div>
                <div class="form-label-group">
                  <label>Password</label>
                  <input [(ngModel)]="login.password" [disabled]="authenticating"
                         autocomplete="current-password" class="form-control mt-2" name="password"
                         placeholder="Password" required type="password">
                </div>
                <button (click)="buttonRegisterClick()" [disabled]="authenticating"
                        class="btn btn-lg btn-primary btn-block mt-3 col-12" type="submit">Register<span
                  class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                  *ngIf="authenticating"></span>
                </button>
                <div class="mt-2"><a routerLink="/login">Already have an account?</a></div>
                <div class="text-danger mt-2" *ngIf="authenticationError">There was an error during registration,
                  please
                  try again.
                </div>
              </form>
            </div>
            <div class="col-6" style="background-color: #03045E;">
              <div class="row justify-content-center" style="height: 100%;">
                <div class="col text-center" style="display: flex; flex-direction: column; justify-content: space-around">
                  <h5 class="display-3 text-white">TEHNIČKO VELEUČILIŠTE U ZAGREBU<br>STRUČNI STUDIJ RAČUNARSTVA</h5>
                  <h3 class="display-3 text-white">Borna Bilandžija <br> Izrada društvene mreže</h3>
                  <h5 class="display-3 text-white">ZAVRŠNI RAD br. broj 1462 <br> Zagreb, rujan, 2022.</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


