<h2>Messages</h2>
<ul class="message">
  <li *ngFor="let message of message">
      {{message}} - {{message.messageBody}}
  </li>
</ul>

<div>
    <h3>Send a message</h3>
    <div>
        <label>UserId:
            <div>
                <input #UserId />
            </div>
        </label>
    </div>
    <div>
        <label>GroupId:
            <div>
                <input #GroupId />
            </div>
        </label>
    </div>
    <div>
        <label>Message:
            <div>
                <input #Message />
            </div>
        </label>
    </div>
    <button (click)="sendMessage(UserId.value,GroupId.value,Message.value);UserId.value=''; GroupId.value=''; Message.value='';">
        Send
    </button> 
</div>