<div style="height: 10%; width: 100%;" class="titles">
  <span style="display: inline-block; vertical-align: text-bottom" class="titles">{{getNameOfRecipient()}}</span>
  <div style="float: right;width: 42px; display:block;"><app-audio-video-call [selectedRecipient]="selectedRecipient"></app-audio-video-call></div>
</div>
<div style="height: 85%; width: 100%; min-height: 85%">
  <ul class="overflow-scroll" style="max-height: 100%" #messageArea [scrollTop]="messageArea.scrollHeight">
    <li *ngFor="let message of message" [ngClass]="thisUsersMessage(message.creatorId)?'outgoing-message message':'incoming-message message'">
      <div title="{{formatDate(message.creationDate)}}">
        <span><b>{{message.creator}}</b></span>
        <br>
        <span class="ps-2">{{message.messageBody}}</span>
      </div>
    </li>
  </ul>
</div>
<div class="w-100" style="height: 5%; width: 100%;">
  <app-message-send [selectedRecipient]="selectedRecipient" (webSocketMessage)="sendMessage($event)" ></app-message-send>
</div>
