@import "assets/bootstrap-5.0.2-dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";


/* Application-wide Styles */
@font-face {
  font-family: "LatoRegular";
  src: url(/assets/fonts/Lato/Lato-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "NotoSerifBold";
  src: url(/assets/fonts/NotoSerif/NotoSerif-Bold.ttf) format("truetype");
  font-weight: bold;
}


h1 {
  color: #030663;
  font-family: NotoSerifBold, Helvetica !important;
  font-size: 250%;
}
h2  {
  color: #030663 !important;
  font-family: NotoSerifBold, Helvetica !important;
  font-size: 1.25rem !important;
}

h3{
  color: #030663 !important;
  font-family: NotoSerifBold, Helvetica !important;
  font-size: 1rem !important;
  margin-bottom: 0 !important;
}
body {
  margin: 2em;
  background-color: #F8F7F2;
}
body, input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia;
}
/* everywhere else */
* {
  font-family:  LatoRegular, Helvetica, sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: LatoRegular, "Helvetica Neue", sans-serif !important;}

.btn-primary{
  background-color: #0077B6;
  border-color: #D7D8FE;
}

.btn-primary:hover{
  background-color: #0092E0;
}

.btn-secondary{
  background-color: #F8F7F2;
  border-color: #340000FF;
  color: darkred;
}

.btn-secondary:hover{
  background-color: darkred;
  border-color: #340000FF;
  color: #F8F7F2;
}

.card{
  border-color: #D7D8FE;
}

.card-body{
  padding: 0;
  --bs-gutter-x: 0;
}

.form-control:focus{
  box-shadow: 0 0 0 1px #0092E0;
  border-color: #0092E0;
}

.mat-raised-button{
  color:white;
}

.navbar-buttons button{
  font-size: 1.5rem;
}

.navbar-buttons button:focus{
  box-shadow: none;
}

.navbar-buttons button:active{
  background-color: #0092E0;
}

.main-content-area{
  margin: auto auto;
  width: 80%;
  height: 90%;
  padding: 15px;
}
.main-content-area card-body {
  height: 100%;
}


main{
  background-color: #0077B6;
}

::-webkit-scrollbar{
  display: none;
}

ul{
  list-style-type: none;
}

.message{
  width: fit-content;
  max-width: 80%;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}

.incoming-message{
  border: 1px solid #26C3E3;
  background-color: #CAF0F8;
  margin-right: auto !important;
}

.outgoing-message{
  margin-left: auto !important;
  border: 1px solid #00778F;
  background-color: #00B4D8;
  color: white;
}

#MessageInputField{
  width: calc(100% - 70px);
  border: 2px solid #D7D8FE;
  box-sizing: border-box;
  border-radius: 0.25rem;
}

.titles{
  color: #030663;
  font-family: NotoSerifBold, Helvetica !important;
  font-size: 1.5rem;
}

:focus {
  outline: 0;
}

.event-create-input{
  margin: 15px 0;
}

.mat-form-field-infix {
  border: none;
}

.event-item{
  padding: 15px;
}

.event-box{
  display:block;
  border: 1px solid #90E0EF;
  border-radius: 0.25rem;
  margin: 10px 0;
}

.event-date-location{
  color: #6C7C89;
  font-size: 1rem;
  margin-right: 10px;
}

.event-date-location i{
  color:#0092E0;
  font-size: 1.25rem;
}

.expand-close {
  text-align: center;
  color: #6C7C89;
  line-height: 30px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
  background: #ffffff;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.06s;
  transition-duration: 0.06s;
}
.expand-close:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle, rgba(144,224,239,1) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.06s;
  transition-duration: 0.06s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.expand-close:hover, .expand-close:focus, .expand-close:active {
  background: radial-gradient(circle, rgba(144,224,239,1) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
  color:white;
}
.expand-close:hover:before, .expand-close:focus:before, .expand-close:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}

.comment{
  border: 1px solid #90E0EF;
  margin: 5px 0;
  border-radius: 5px;
  padding: 5px;
}

.user-comment{
  border: 1px solid #0077B8;
  background-color: #0077B8;
  color: white;
}

.comment-creator-current-username{
  color: white;
  font-family: NotoSerifBold, Helvetica !important;
}

.comment-creator-username{
  color: #030663 !important;
  font-family: NotoSerifBold, Helvetica !important;
}

.comment-input{
  width: calc(100% - 94px);
  border: none;
  border-bottom: 1px solid #030663;
  box-sizing: border-box;
  border-radius: 0;
}
