<h1 mat-dialog-title>Create event:</h1>
<div mat-dialog-content>
  <div>
    <div class="event-create-input w-100">
      <label class="w-100">Name:
        <div class="w-100">
          <input class="w-100" [(ngModel)]="title"/>
        </div>
      </label>
    </div>
    <div class="event-create-input">
      <label>Time:
        <div>
          <mat-form-field>
            <input matInput type="datetime-local" [(ngModel)]="time">
          </mat-form-field>
        </div>
      </label>
    </div>
    <div class="event-create-input w-100">
      <label class="w-100">Location:
        <div class="w-100">
          <input class="w-100" [(ngModel)]="location"/>
        </div>
      </label>
    </div>
    <div class="event-create-input w-100">
      <label class="w-100">Details:
        <div class="w-100">
          <textarea class="w-100" [(ngModel)]="details"></textarea>
        </div>
      </label>
    </div>
    <button class="btn btn-primary" style="width: 100%" (click)="createButtonAction()">
      Create event
    </button>
  </div>
</div>
